/*Tipografías*/

@import "fonts";

/*Header*/

header{

    .navbar-collapse{
        font-size: 20px;

    }
    .navbar-expand-sm .navbar-nav .nav-link{
        padding-right: 5rem;
        color: #0075c9;
        font-family: 'poppinsregular';
    }
}
/*Body*/
.banner{
    display: inline-block;
    width: 100%;
    margin-left: 7rem;
    margin-top: 0px;
    color: white;
    font-size: 25px;
    font-family: 'poppinsregular';
    line-height: 8mm;

}
.banner h1{
    font-family: 'Mairy_Extrabold';
    font-size: 6rem;
    margin-bottom: 35px;

}
.banner h1 a{
    border-bottom-style:solid;
    border-bottom-width: 4px;
    border-bottom-color: #a4e127ed;
}
.banner h2{
    font-family: 'mairy_boldregular';
    font-size: 50px;
    line-height:10mm;
}

.bg-image {
    width: 100%;
    height: 100vh;
    background-image: url('/img/banner_principal.png');
    background-repeat: no-repeat;
    border-radius: 20px;

  }

  .brandeado-car{
    width: 100%;
    height: auto;
    margin-left: 8rem;
    margin-top: 5rem;

  }
    .text-p {
    font-family: 'poppinsregular';
    font-size: 25px;
    text-align: right;
    margin-right: 10rem;
    margin-top: 5rem;
    color: #777;
  }
  .title p{
    font-family: 'poppinsregular';
    font-size: 20px;
    text-align: center;
    color: #777;
    margin-bottom: 2rem;

  }

  .title h1 {
    font-size: 4rem;
    color: #0075c9;
    text-align: center;
    font-family: 'Mairy_Extrabold';
    margin-bottom: 8mm
  }
  .title h1 a{
    border-bottom-style:solid;
    border-bottom-width: 4px;
    border-bottom-color: #a4e127ed;
  
  }
  .img-fluid.logos{
    margin-left: 5rem;
  }
  /*.slick-slide img {
    display: flex;
  }*/
  .carousel{
    width: 90%;
    height: auto;
    border-radius: 25px;
    margin-left: 3rem;
    margin-right: 2rem;
  }
  .button{
    margin-right: 30rem;
    margin-left: 30rem;
    background-color: #0075c9;
  }

  /*Responsive part*/