@charset "UTF-8";
/*Tipografías*/
@font-face {
  font-family: "poppinsbold";
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mairy_Extrabold";
  src: url("../fonts/Mairy-Extrabold.eot");
  src: url("../fonts/Mairy-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/Mairy-Extrabold.woff2") format("woff2"), url("../fonts/Mairy-Extrabold.woff") format("woff"), url("../fonts/Mairy-Extrabold.ttf") format("truetype"), url("../fonts/Mairy-Extrabold.svg#Mairy Extrabold") format("svg");
}
@font-face {
  font-family: "mairy_regularregular";
  src: url("../fonts/mairy_regular-webfont.woff2") format("woff2"), url("../fonts/mairy_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mairy_boldregular";
  src: url("../fonts/mairy_bold-webfont.woff2") format("woff2"), url("../fonts/mairy_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Header*/
header .navbar-brand {
  padding-left: 6rem;
}
header .navbar-collapse {
  font-size: 20px;
}
header .navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 5rem;
  color: #2a93ec;
  font-family: "poppinsregular";
}
header .navbar-expand-sm .navbar-nav .nav-link:hover {
  color: #89d631;
}
header .bg-light {
  border-radius: 0px 0px 20px 20px;
}

/*Body*/
.banner {
  display: inline-block;
  width: 100%;
  padding: 2rem 0px 0px 7rem;
  color: #ffffff;
  font-size: 26px;
  font-family: "poppinsregular";
  line-height: 12mm;
}

.banner h1 {
  font-family: "Mairy_Extrabold";
  font-size: 90px;
  margin: 5rem 0px 2rem;
}

.banner h1 a {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #89d631;
}

.banner h2 {
  font-family: "mairy_boldregular";
  font-size: 45px;
  line-height: 15mm;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bg-image {
  width: 100%;
  height: 110vh;
  background-image: url("/img/banner_principal.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  border-radius: 0px 0px 20px 20px;
}

.bg-image-beneficios {
  width: 100%;
  height: 110vh;
  background-image: url("/img/banner_secundario.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-beneficios h1 {
  text-align: center;
  margin-top: -1rem;
}

.bg-image-beneficios p {
  font-family: "poppinsregular";
  font-size: 26px;
}

.banner-beneficios {
  display: inline-block;
  width: 100%;
  padding-left: 7rem;
  color: #ffffff;
  font-size: 26px;
  font-family: "poppinsregular";
}

.banner-beneficios h1 {
  font-family: "Mairy_Extrabold";
  font-size: 90px;
  padding: 2rem;
  margin: 0px;
}

.banner-beneficios h1 a {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #89d631;
}

.banner-beneficios h2 {
  font-family: "mairy_boldregular";
  font-size: 40px;
}

.iconos {
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  padding: 30px;
  border-radius: 50%;
  margin-right: 2rem;
  margin-top: 1rem;
}

.icon-img {
  width: 100%;
}

.icon-size {
  width: 100%;
}

.brandeado-car {
  width: 100%;
  height: auto;
  margin-left: 8rem;
  margin-top: 5rem;
}

.text-p {
  font-family: "poppinsregular";
  font-size: 26px;
  text-align: right;
  margin-right: 10rem;
  margin-top: 5rem;
  color: #707070;
}

.text-calidad {
  text-align: center;
  font-family: "poppinsregular";
  font-size: 26px;
  color: #707070;
}

.title h1 {
  font-size: 5rem;
  color: #2a93ec;
  text-align: center;
  font-family: "Mairy_Extrabold";
  padding: 3rem;
}

.title h1 a {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #89d631;
}

.title p {
  font-family: "poppinsregular";
  font-size: 26px;
  text-align: center;
  color: #707070;
  padding: 1rem;
}

.img-fluid.logos {
  margin-left: 5rem;
  border: #7474703b 3px solid;
  border-radius: 20px;
  padding: 30px;
  margin: 0 auto;
  display: inline-block;
}

.carousel {
  width: 90%;
  height: auto;
  border-radius: 25px;
  margin-left: 20px;
  padding: 10px;
}

.container-fluid figure {
  cursor: pointer;
}

.container-fluid figure img {
  width: 90%;
  height: 90%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.capa h3 {
  width: auto;
  font-family: "poppinsbold";
  margin-bottom: 1rem;
}
.capa h3 .linea1, .capa h3 .linea2 {
  position: relative;
  width: 105px;
  height: 3px;
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
}
.capa h3 .linea1 {
  top: -10px;
}
.capa h3 .linea2 {
  bottom: -10px;
}

.container-fluid figure .capa {
  position: absolute;
  top: 0;
  width: 80%;
  height: 93.5%;
  margin-left: 30px;
  margin-top: 10px;
  background: rgba(42, 147, 236, 0.6);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  border-radius: 12px;
  font-family: "poppinsregular";
  color: #ffffff;
  font-size: 20px;
}

.container-fluid figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.btn {
  display: table;
  margin: 0 auto;
  font-family: "poppinsbold";
  font-size: 28px;
  background-color: #2a93ec;
  color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 1rem;
  margin-bottom: 4rem;
  border-radius: 40px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.btn.link:hover, .btn.link:focus {
  background-color: #89d631;
  color: #ffffff;
}

.subtitle h2 {
  text-align: center;
  font-family: "mairy_boldregular";
  font-size: 40px;
  color: #2a93ec;
}

.icons-ideal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.square {
  width: 100%;
  padding: 15px;
  border: #7474703b 3px solid;
  border-radius: 20px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.square h2 {
  font-family: "mairy_boldregular";
  font-size: 28px;
  text-align: center;
  color: #2a93ec;
}

.p-square {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
}

.bg-image-asesora {
  width: 100%;
  min-height: 65vh;
  background-image: url("/img/Banner_asesora.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
}

.bg-image-asesora h1 {
  font-family: "Mairy_Extrabold";
  font-size: 70px;
  color: #2a93ec;
  padding: 3rem 8rem 1rem;
  margin: 0px;
}

.bg-image-asesora h1 a {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #89d631;
}

.bg-image-asesora h2 {
  font-family: "mairy_boldregular";
  font-size: 54px;
  color: #2a93ec;
  padding-right: 8rem;
  padding-bottom: 3rem;
}

.bg-image-asesora .pasos {
  font-family: "poppinsregular";
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 7.5rem;
}

.bg-image-asesora span {
  font-size: 22px;
  font-family: "poppinsbold";
  padding: 10px 15px;
  border-radius: 25px;
  color: #89d631;
  background-color: #ffffff;
}

.bg-image-asesora .col-1 {
  margin-bottom: 15px;
}

.title-contact-us h1 {
  font-size: 40px;
  color: #2a93ec;
  text-align: center;
  font-family: "Mairy_Extrabold";
  line-height: 10mm;
  padding: 3rem;
}

.title-contact-us h1 a {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #89d631;
}

.container-fluid label {
  font-family: "poppinsregular";
  font-size: 20px;
  color: #707070;
}

.form-control {
  border-radius: 25px;
  height: 40px;
  margin-top: 15px;
}

.form-section-l {
  margin-left: 6rem;
}

.form-check {
  padding: 12px;
  margin-left: 2rem;
}

.form-control.otros {
  margin-top: 5px;
}

#otros {
  display: none;
}

.btn-send {
  margin: 0 auto;
  display: block;
  font-family: "poppinsbold";
  font-size: 22px;
  background-color: #89d631;
  color: #ffffff;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 40px;
}

.form-group.send {
  padding-bottom: 3rem;
}

.page-footer {
  width: 100%;
  min-height: 50vh;
  background-image: url("/img/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-menita {
  margin: 0 auto;
  padding: 40px;
  display: block;
}

.contact-title h2 {
  text-align: center;
  font-family: "poppinsregular";
  font-size: 20px;
  color: #ffffff;
}

.text-footer {
  color: #ffffff;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-footer p {
  font-family: "poppinsregular";
  font-size: 18px;
}

.text-footer a {
  color: #ffffff;
  font-family: "poppinsregular";
  font-size: 18px;
  padding: 20px;
}

.img-fluid.icon {
  margin-left: 21px;
  margin-bottom: 15px;
}

.cont-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sociales .linea1 {
  position: relative;
  width: 12rem;
  height: 3px;
  background-color: #ffffff;
}
.sociales .linea1 {
  bottom: -20px;
}

.sociales img {
  padding: 5px;
}

.copyright {
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  padding-top: 35px;
}

.copyright h4 {
  font-size: 20px;
}

.copyright p {
  font-size: 15px;
}

/*Responsive part*/
@media (max-width: 1680px) {
  .bg-image-beneficios {
    height: 85vh;
  }

  .bg-image {
    height: 80vh;
  }

  .banner {
    padding: 5rem 0px 0px 6rem;
    font-size: 26px;
    line-height: 10mm;
  }

  .banner h1 {
    font-size: 85px;
    margin: 0px 0px 15px;
  }

  .banner h2 {
    font-family: "mairy_boldregular";
    font-size: 45px;
    line-height: 12mm;
  }

  .text-p {
    font-size: 24px;
  }

  .title h1 {
    font-size: 70px;
  }

  .img-fluid.logos {
    width: 95%;
  }

  .btn {
    font-size: 20px;
  }

  .bg-image-beneficios {
    height: 85vh;
  }

  .bg-image-beneficios p {
    font-size: 24px;
  }

  .banner-beneficios {
    padding-left: 5rem;
    font-size: 30px;
  }

  .banner-beneficios h1 {
    font-size: 85px;
    padding: 10px;
  }

  .banner-beneficios h2 {
    font-size: 35px;
  }

  .iconos {
    width: 100px;
    height: 100px;
    padding: 20px;
  }

  .bg-image-asesora h1 {
    padding: 3rem 8rem 3rem;
  }
}
@media (max-width: 1440px) {
  .bg-image {
    height: 90vh;
  }

  .banner {
    padding: 4rem 0px 0px 5rem;
    font-size: 20px;
    line-height: 8mm;
  }

  .banner h1 {
    font-size: 70px;
    margin: 0px 0px 10px;
  }

  .banner h2 {
    font-family: "mairy_boldregular";
    font-size: 35px;
    line-height: 10mm;
  }

  .brandeado-car {
    margin-left: 3rem;
    margin-top: 4rem;
  }

  .text-p {
    font-size: 18px;
    margin-right: 6rem;
  }

  .title h1 {
    font-size: 70px;
    padding: 0px;
  }

  .img-fluid.logos {
    width: 95%;
  }

  .btn {
    font-size: 20px;
  }

  .bg-image-beneficios {
    height: 95vh;
  }

  .bg-image-beneficios p {
    font-size: 19px;
  }

  .banner-beneficios {
    font-size: 30px;
  }

  .banner-beneficios h1 {
    font-size: 70px;
    padding: 10px;
  }

  .banner-beneficios h2 {
    font-size: 30px;
    margin: 0px;
  }

  .iconos {
    width: 95px;
    height: 95px;
    padding: 20px;
  }

  .bg-image-asesora h1 {
    padding: 50px;
    font-size: 55px;
    margin-right: 1rem;
  }

  .bg-image-asesora h2 {
    font-family: "mairy_boldregular";
    font-size: 44px;
    color: #2a93ec;
    padding: 2rem 4rem 3rem 0rem;
  }

  .bg-image-asesora .pasos {
    padding-right: 4rem;
    font-size: 26px;
  }

  .text-footer a {
    font-size: 13px;
    padding: 0px 0px 0px 12px;
  }

  .text-footer p {
    font-size: 13px;
  }
}
@media (max-width: 1224px) {
  .banner {
    font-size: 18px;
    padding: 3rem 0px 0px 3rem;
  }

  .banner h1 {
    font-size: 55px;
  }

  .banner h2 {
    font-size: 30px;
    line-height: 9mm;
  }

  .text-p {
    font-size: 17px;
  }

  .title h1 {
    font-size: 55px;
    padding: 1rem;
  }

  .title p {
    font-size: 17px;
    padding: 0px;
  }

  .img-fluid.logos {
    width: 90%;
  }

  .btn {
    font-size: 17px;
  }

  .bg-image-beneficios {
    height: 85vh;
  }

  .bg-image-beneficios p {
    font-size: 18px;
  }

  .banner-beneficios {
    padding-left: 4rem;
  }

  .banner-beneficios h1 {
    font-size: 55px;
  }

  .banner-beneficios h2 {
    font-size: 26px;
    margin: 0px;
  }

  .iconos {
    width: 80px;
    height: 80px;
    padding: 15px;
  }

  .text-calidad {
    font-size: 17px;
  }

  .subtitle h2 {
    font-size: 30px;
  }

  .bg-image-asesora h1 {
    padding-top: 42px;
    font-size: 40px;
  }

  .bg-image-asesora h2 {
    font-size: 32px;
    padding-top: 0px;
  }

  .bg-image-asesora .pasos {
    font-size: 20px;
  }

  .text-footer a {
    font-size: 13px;
    padding: 0px 0px 0px 12px;
  }

  .text-footer p {
    font-size: 13px;
  }
}
/*# sourceMappingURL=main.css.map */