/*Tipografías*/

@import "fonts";

/*Header*/
$green: #a4e127ed;

header{

    .navbar-collapse{
        font-size: 20px;

    }
    .navbar-expand-sm .navbar-nav .nav-link{
        padding-right: 5rem;
        color: #0075c9;
        font-family: 'poppinsregular';

    }
    .bg-light {
      border-radius: 0px 0px 20px 20px;
    }
}
/*Body*/
.banner{
    display: inline-block;
    width: 100%;
    padding-left: 7rem;
    margin-top: 0px;
    color: white;
    font-size: 25px;
    font-family: 'poppinsregular';
    line-height: 8mm;

}
.banner h1{
    font-family: 'Mairy_Extrabold';
    font-size: 6rem;
    margin-bottom: 35px;

}
.banner h1 a{
    border-bottom-style:solid;
    border-bottom-width: 4px;
    border-bottom-color: #a4e127ed;
}
.banner h2{
    font-family: 'mairy_boldregular';
    font-size: 40px;
    line-height:10mm;
}

.bg-image {
    width: 100%;
    height: 110vh;
    background-image: url('/img/banner_principal.png');
    background-repeat: no-repeat;
    background-position:right;
    background-size: cover;
    border-radius: 0px 0px 20px 20px;
  }
  .sec-banner{
    margin-top: -20px;
  }
  .bg-image-beneficios{
    width: 100%;
    min-height: 110vh;
    background-image: url('/img/banner_secundario.png');
    background-repeat: no-repeat;
    background-size:cover;
  }
  .bg-image-beneficios h1{
    text-align: center;
    margin-right: 15rem;
  }
  .bg-image-beneficios p{
    font-family: 'poppinsregular';
    font-size: 22px;
  }

  .iconos {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding:25px;
    border-radius: 50%;
    margin-right: 2rem;
    margin-top: 1rem;
  }
  .icon-img {
    width: 133%;

  }
  .icon-size {
    width: 120%;
  }

  .brandeado-car{
    width: 100%;
    height: auto;
    margin-left: 8rem;
    margin-top: 5rem;

  }
    .text-p {
    font-family: 'poppinsregular';
    font-size: 25px;
    text-align: right;
    margin-right: 10rem;
    margin-top: 5rem;
    color: #777;
  }
  .text-calidad {
    text-align: center;
    font-family: 'poppinsregular';
    font-size: 25px;
    color: #777;
  }
  .title h1{
    font-size: 5rem;
    color: #0075c9;
    text-align: center;
    font-family: 'Mairy_Extrabold';
    margin-bottom: 8mm
  }
  .title h1 a{
    border-bottom-style:solid;
    border-bottom-width: 4px;
    border-bottom-color: #a4e127ed;
  }
  .title p{
    font-family: 'poppinsregular';
    font-size: 20px;
    text-align: center;
    color: #777;
    margin-bottom: 2rem;
  }
  .img-fluid.logos{
    margin-left: 5rem;
  }
  .carousel {
    width: 90%;
    height: auto;
    border-radius: 25px;
    margin-left: 20px;
    padding: 10px;  
  }
    .container-fluid figure {
      cursor: pointer;
    }
    .container-fluid figure img {
      width: 90%;
      height: 90%;
      transition: all 500ms ease-out;
    }
    .capa h3{
      width: auto;
      margin-top: 1rem;
      font-family: 'poppinsbold';
      padding: 10px 0px;
      margin-bottom: 1rem;
      & .linea1, & .linea2{
        position: relative;
        width: 105px;
        height: 3px;
        background-color: #ffffff;
        display: block;
        margin:0 auto;
      }
      & .linea1{
       top: -10px;
       
      }
      & .linea2{
        bottom: -10px;
      }
    }

    .container-fluid figure .capa {
      position: absolute;
      top: 0;
      width: 80%;
      height: 93.5%;
      margin-left: 30px;
      margin-top: 10px;
      background: rgba(37, 163, 247, 0.6);
      transition: all 500ms ease-out;
      opacity: 0;
      visibility: hidden;
      text-align: center;
      border-radius: 12px;
      font-family: 'poppinsregular';
      color: #ffffff;
      font-size: 20px;


    }
    .container-fluid figure:hover > .capa{
      opacity: 1;
      visibility: visible;
    }
  
  
    .btn {
    font-family: 'poppinsbold';
    font-size: 24px;
    background-color: #0189d3;
    color: #ffffff;
    padding-left: 45px;
    padding-right: 45px;
    margin-left: 45rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    border-radius: 40px;
    transition: all .5s ease-in-out;
    &.link {
      &:hover,&:focus{
        background-color: $green;
        color: #ffffff;
      }
    }
    

  }

  /*Responsive part*/