@charset "UTF-8";
/*Tipografías*/
@font-face {
  font-family: "poppinsbold";
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mairy_Extrabold";
  src: url("../fonts/Mairy-Extrabold.eot");
  src: url("../fonts/Mairy-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/Mairy-Extrabold.woff2") format("woff2"), url("../fonts/Mairy-Extrabold.woff") format("woff"), url("../fonts/Mairy-Extrabold.ttf") format("truetype"), url("../fonts/Mairy-Extrabold.svg#Mairy Extrabold") format("svg");
}
@font-face {
  font-family: "mairy_regularregular";
  src: url("../fonts/mairy_regular-webfont.woff2") format("woff2"), url("../fonts/mairy_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mairy_boldregular";
  src: url("../fonts/mairy_bold-webfont.woff2") format("woff2"), url("../fonts/mairy_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*Header*/
header .navbar-collapse {
  font-size: 20px;
}
header .navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 5rem;
  color: #0075c9;
  font-family: "poppinsregular";
}
header .bg-light {
  border-radius: 0px 0px 20px 20px;
}

/*Body*/
.banner {
  display: inline-block;
  width: 100%;
  padding-left: 7rem;
  margin-top: 0px;
  color: white;
  font-size: 25px;
  font-family: "poppinsregular";
  line-height: 8mm;
}

.banner h1 {
  font-family: "Mairy_Extrabold";
  font-size: 6rem;
  margin-bottom: 35px;
}

.banner h1 a {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #a4e127ed;
}

.banner h2 {
  font-family: "mairy_boldregular";
  font-size: 40px;
  line-height: 10mm;
}

.bg-image {
  width: 100%;
  height: 110vh;
  background-image: url("/img/banner_principal.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  border-radius: 0px 0px 20px 20px;
}

.sec-banner {
  margin-top: -20px;
}

.bg-image-beneficios {
  width: 100%;
  min-height: 110vh;
  background-image: url("/img/banner_secundario.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-beneficios h1 {
  text-align: center;
  margin-right: 15rem;
}

.bg-image-beneficios p {
  font-family: "poppinsregular";
  font-size: 22px;
}

.iconos {
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  padding: 25px;
  border-radius: 50%;
  margin-right: 2rem;
  margin-top: 1rem;
}

.icon-img {
  width: 133%;
}

.icon-size {
  width: 120%;
}

.brandeado-car {
  width: 100%;
  height: auto;
  margin-left: 8rem;
  margin-top: 5rem;
}

.text-p {
  font-family: "poppinsregular";
  font-size: 25px;
  text-align: right;
  margin-right: 10rem;
  margin-top: 5rem;
  color: #777;
}

.text-calidad {
  text-align: center;
  font-family: "poppinsregular";
  font-size: 25px;
  color: #777;
}

.title h1 {
  font-size: 5rem;
  color: #0075c9;
  text-align: center;
  font-family: "Mairy_Extrabold";
  margin-bottom: 8mm;
}

.title h1 a {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #a4e127ed;
}

.title p {
  font-family: "poppinsregular";
  font-size: 20px;
  text-align: center;
  color: #777;
  margin-bottom: 2rem;
}

.img-fluid.logos {
  margin-left: 5rem;
}

.carousel {
  width: 90%;
  height: auto;
  border-radius: 25px;
  margin-left: 20px;
  padding: 10px;
}

.container-fluid figure {
  cursor: pointer;
}

.container-fluid figure img {
  width: 90%;
  height: 90%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.capa h3 {
  width: auto;
  margin-top: 1rem;
  font-family: "poppinsbold";
  padding: 10px 0px;
  margin-bottom: 1rem;
}
.capa h3 .linea1, .capa h3 .linea2 {
  position: relative;
  width: 105px;
  height: 3px;
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
}
.capa h3 .linea1 {
  top: -10px;
}
.capa h3 .linea2 {
  bottom: -10px;
}

.container-fluid figure .capa {
  position: absolute;
  top: 0;
  width: 80%;
  height: 93.5%;
  margin-left: 30px;
  margin-top: 10px;
  background: rgba(37, 163, 247, 0.6);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  border-radius: 12px;
  font-family: "poppinsregular";
  color: #ffffff;
  font-size: 20px;
}

.container-fluid figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.btn {
  font-family: "poppinsbold";
  font-size: 24px;
  background-color: #0189d3;
  color: #ffffff;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: 45rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  border-radius: 40px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.btn.link:hover, .btn.link:focus {
  background-color: #a4e127ed;
  color: #ffffff;
}

/*Responsive part*/
/*# sourceMappingURL=main.css.map */